{% extends 'base.html' %}
{%load static%}
{% block content %}
<h2>Our Projects</h2>
<div class="row mt-4">
  <div class="col-md-4">
    <div class="card shadow">
      <img src="{% static 'images/project1.jpg' %}" class="card-img-top" alt="Project 1">
      <div class="card-body">
        <h5 class="card-title">Community Water Project</h5>
        <p class="card-text">Providing clean and safe water to rural villages.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <img src="{% static 'images/project2.jpg' %}" class="card-img-top" alt="Project 2">
      <div class="card-body">
        <h5 class="card-title">Youth Education Initiative</h5>
        <p class="card-text">Scholarships and mentorship programs for disadvantaged youth.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <img src="{% static 'images/project3.jpg' %}" class="card-img-top" alt="Project 3">
      <div class="card-body">
        <h5 class="card-title">Health Awareness Campaign</h5>
        <p class="card-text">Spreading knowledge on disease prevention and wellness.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
